.featuredProducts{
    margin-top: 100px;
    padding: 0px 40px 0px 40px;
    h1{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    .featuredProductContainer{
        display: flex;
        justify-content: space-between;
    }
    .searchInput{
        display: flex;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 60px;
    }
}