.whyUs{
    margin-top: 100px;
    h1{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    .images{
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
}